html{
  margin: 16px;
  background: #DBE8F9;

}

.profile_img{
  height: 100px;
  border-radius: 16px;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  
}

.clickable{
  color:  #FA6121;
}

.intro{
  
  border: 12px solid #466289;
  padding: 10px;
  max-width: 50em;
  margin: auto;
  Box-shadow: 3px 3px 3px #234234;


}

h1, h2 {
  color: #333;
}



/*
Colors:
https://www.colorcombos.com/color-schemes/138/ColorCombo138.html

Hex: #627894
Hex: #A0AEC1
Hex: #466289
Hex: #DBE8F9
Hex: #FA6121
Hex: #FFB739

*/