html{
  width: 100vw;
  min-height: 100vh;

  
  background-image: 
  linear-gradient(0deg, rgba(219, 232, 249, 1) 35%,
   rgba(248, 255, 255, 1) 65%, 
   rgba(255, 255, 255, 1) 100%);
}

h1{
  font-size: 2.5em;
}
h2{

  font-size: 2em;

}
h3{
  font-size: 1.5em;;
}
h4{
  font-size: 1.17em;
  font-weight: lighter;
}

h5{
  font-size: 0.83em;
  font-weight: lighter;
}

footer{
  margin-top: 10vh;
  padding-top: 4vh;
  padding-bottom: 1vh;
  background-color: #466289;
}

footer a{
  color: white;
  font-weight: lighter;
  text-decoration: underline;
}

footer h5{
  color: white;
}

.divider {
  
  border-top: 3px solid #466289;
  border-radius: 5px;
  margin-bottom: 2.5vh;
  width: 90%;
  
}

.wrapper{
  margin: 16px;
}

.profile_img{
  height: 100px;
  border-radius: 16px;
  border-color: #DBE8F9;
  border-width: 3px;
  border-style: solid;
  
}

.card-img{
  height: 40%;
  width: 100%;

  border-radius: 16px;
  

}

body{
  margin:0;
}

a {
  text-decoration: none;
}

/*.nav{
 background-color: #466289; 
 overflow: hidden;
  margin-bottom:30px;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  
}*/

nav ul{
  list-style-type: none;
  margin: 0px;
  margin-bottom:40px;
  padding: 0px;
  overflow: hidden;
  background-color: #466289;
  Box-shadow: 3px 3px 3px #234234;
}

nav li{
  
  float: left;
}

.leftnav{
  float: right;
}

nav a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

nav a:hover {
  background-color:#627894;
}

nav a:active {
  background-color:#8C001A;
  box-shadow: inset 0px 0px 5px #234234;
}


body{
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  
}

.clickable{
  color: #DBE8F9;;
  /* #FA6121;*/
}

.clickable:hover{
  color: #A0AEC1;
}

.clickable:active{
  color: #8C001A;
  
}

.intro{
  background-color: #466289;
  border: 12px solid #466289;
  padding: 10px;
  max-width: 50em;
  margin: auto;
  Box-shadow: 3px 3px 3px #234234;
}



.intro h1, h2 , h3, h4{
  color: #DBE8F9;;
}

.section{
  padding-top:10vh;
}


.card{
  background-color: #466289;
  border: 12px solid #466289;
  padding: 10px;
  max-width: 50em;
  margin: auto;
  Box-shadow: 3px 3px 3px #234234;
}

.section h2{
  color: #466289;
  text-align: left;
  margin-bottom: 0;
  margin-left: 5vw;
 
  
}

h3 span{
  position: relative;
  display:inline-block;
  animation: animate 1.60s linear;
}
@keyframes animate
{
  0%
  {
    transform: translateY(-30px);
  }
  10%
  {
    transform: translateY(-15px);
  }
  15%
  {
    transform: translateY(0px);
  }
  25%
  {
    transform: translateY(-20px);
  }
  25%
  {
    transform: translateY(0px);
  }
  
  30%
  {
    transform: translateY(-10px);
  }
  35%
  {
    transform: translateY(0px);
  }
  100%
  {
    transform: translateY(0px);
  }
}



/*
Colors:
https://www.colorcombos.com/color-schemes/138/ColorCombo138.html

Hex: #627894
Hex: #A0AEC1
Hex: #466289
Hex: #DBE8F9
Hex: #FA6121
Hex: #FFB739

*/