html{
  margin: 16px;
  background: #DBE8F9;

}

.profile_img{
  height: 100px;
  border-radius: 16px;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  border: 12px solid #466289;
  padding: 10px;
  max-width: 50em;
  margin: auto;
  Box-shadow: 3px 3px 3px #234234;


}

h1, h2 {
  color: #333;
}